<agm-map [zoom]="15" [latitude]="lat" [longitude]="lng">
	<agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icona">
		<agm-info-window>
			<h3>{{this.user}} sei qui!</h3>
        </agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let data of monoPa" [latitude]="data.lat" [longitude]="data.long" [iconUrl]="icon" >
        <agm-info-window [maxWidth]="270">
            <p>ID monopattino: <b><h3>{{data._id}}</h3></b></p>
            <app-monopattini></app-monopattini>
        </agm-info-window>
    </agm-marker>
</agm-map>
